
h1{
    text-decoration: underline;
    font-style: normal;
    color:darkturquoise;
    font-size: 30px;
}
h2{
    text-decoration: underline;
    font-style: italic;
    color: black;
    font-size: 25px;
}
.Text-Format{
    white-space: pre-line;
    font-size: 20px;
}
.style-body{
    text-align:center;
    background-color: #fff8dc;
}
p{
color: #dd00ff;}