html {
    font-size: 120%;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    place-items: center;
    grid-template-columns:auto 1fr auto;
    min-height: 100vh;
    grid-template-areas:
    "header"
    "phpTest"
    "main"
    "footer";
}

@media (max-width: 768px) {
    body {
        transform: scale(0.6);
        transform-origin: center;
        width: 200vw;
        height: 200vh;
        display: flex;
        place-items: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px;
        gap: 10px;
    }
    .Logo-png{
        position: absolute;
        scale: 0.5;
        margin-top: 5px;
        margin-left: 5px;
    }
}

body {
    font-family: "Cascadia Mono", monospace;
    background-color: #ff6744;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

header {
    grid-area: header;
    position: relative;
    display: flex;
    width: 100%;
    background: #a04bff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

footer {
    grid-area: footer;
    position: relative;
    display: flex;
    background: #a04bff;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
    overflow-x: hidden;
    font-size: 90%;
    gap: 40px;
}

#div-Website {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-Website select {
    width: 55%;
}

h1 {
    font-size: 30pt;
    font-style: italic;
    text-decoration: underline;
}

#test {
    margin: 20px;
    background: #73e0ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 790px;
    gap: 10px;
    border: 6px solid;
    border-radius: 50px;
    box-shadow: 5px 5px 20px black;
}

#test p {
    text-decoration: underline;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

button {
    font-size: 14pt;
}

#test input {
    font-size: 14pt;
    width: 80%;
}

.cell {
    background: #b875fd;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70pt;
}

#board {
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows:  repeat(3, 100px);
    justify-content: center;
    align-items: center;

}

#game {
    grid-area: main;
    background: #a04bff;
    width: 800px;
    height: fit-content;
    border: 7px solid black;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px;
    margin: 30px;
}

.Überschrift {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-shadow: 3px 0 15px #0031af;
}

#game button {
    border: 3px solid;
    border-radius: 10px;
    background: #ff0000;
    font-size: 14pt;
    transition: background-color 500ms ease;
    padding: 10px;
    margin: 10px;
}

#game button:hover {
    background-color: #f3a448;
}

#playerdiv {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    text-decoration: underline 3px solid black;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 5px 5px 10px #000000;
}

input {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 16px #000000;
    text-align: center;
}

label {
    font-weight: bold;
}

#input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Logo-png {
    width: 120px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;

}

#Points {
    border: 3px solid;
    border-radius: 15px;
    padding: 10px;
    background: #7cff00;
}

.divider {
    border-left: 5px solid black;
    height: 100px;
    width: 10px;
}

.Impressum {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
}

.Logo-png-down {
    width: 5%;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;

}

.php {
    grid-area: phpTest;
    position: relative;
}